# Flutter/Dart specific
# Flutter/Dart/Pub related
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
*.pub/
*.apk
**/doc/api/
**/ios/Flutter/.last_build_id
.pub-cache/
.pub/
build/
.dart_tool/
*.dart_tool/

# Firebase
firebase.json
firebase_options.dart

# Google services
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# Private keys and certificates
*.pem
*.crt
*.key

# Local development configurations
.env
.secrets

# Android specific
android/.gradle/
android/app/debug/
android/app/profile/
android/local.properties

# iOS specific
ios/Flutter/.symlinks/
ios/Pods/

# IDEs
.vscode/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
